$color1: #0A7FB2 // blue

/* rounded image */

.profile img
  border-radius: 50%

.small
  font-size: 60%

.big
  font-size: 150%

.remark-slide-content
  .subtitle
    display: block
    color: #777
    font-size: 35px
    margin-top: -30px
    margin-bottom: 20px


  .right
    display: block
    text-align: right

.source-fig
  @extend .small
  @extend .right
  p
    margin-top: -15px

/* box */

.box
  display: block
  text-align: center
  position: relative
  border: 2px solid $color1
  padding: 10px
  margin: 10px

  p
    margin: 0px
